<%- include ('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h2>Criação usuarios</h2>
            </div>
            <div class="card-body">
                <form action="/users/create" method="POST" >
                    <input class="form-control" type="email" name="email" placeholder="email@exemple.com"><br>
                    <input class="form-control" type="password" name="password" placeholder="******">
                    <br>
                    <button class="btn btn-success btn-block" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>

</body>
<%- include ('../../partials/footer.ejs') %>